

.add-item-btn{
    width: fit-content;
    padding: 4px 8px;
    margin: 4px;
    margin-left: auto;
    background-color: rgb(255, 140, 0);
    color: #fff;
    border-radius: 4px;
}


.order-added-items-list{
    background-color: #ffffffdc;
    margin: 16px 0;
}




.order-added-items-list .list-item {
    display: grid;
    grid-template-columns: 8fr 2fr 1fr;
}


.order-added-items-list .list-item .item-details{
    display: flex;
    flex-direction: column;

}

.order-added-items-list .list-item .item-details p{
    margin: 0;
}

.order-added-items-list .list-item .item-details .item-unit
{
    padding: 2px 4px;
    font-size: .85em;
    user-select: none;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #D2D3D9;
    background-color: #D2D3D9;
}

.order-added-items-list .list-item .item-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-added-items-list .list-item .item-actions input
{
    width: 60px;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #D2D3D9;
    text-align: center;
    font-size: 1em;
    color: #000dfb;
}



.order-added-items-list .list-item .item-actions button{
    width: fit-content;
    margin: 8px;
    padding: 4px 8px;
    aspect-ratio: 1/1;
    background-color: green;
    color: white;
    border-radius: 4px;
    

}

.order-added-items-list .list-item .delete-item{
    width: fit-content;
    height: fit-content;
    justify-self: end;
    align-self: center;
    background: none;
    font-size: 1.2em;
    color: rgb(193, 0, 0);
    

}

.order-added-items-list .total-amount{
    margin: 8px;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
}



.order-items-list{
    height: fit-content;
    margin: 8px;
    border-radius: 8px;
    min-width: 350px;

}

.order-items-list h2{
    margin: 4px;
}

.order-items-list .list-item{
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    margin: 0;
    box-shadow: none;
    border: 2px solid #D2D3D9;
    margin-top: 8px;
    
}



.order-items-list .list-item .item-details p{
    margin: 4px 0;
}

.order-items-list .list-item .item-total-price{
    text-align: center;
}
.order-items-list .list-item .item-unit{
    padding: 2px 4px;
    font-size: .85em;
    user-select: none;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #D2D3D9;
    background-color: #D2D3D9;
} 

.order-items-list .list-item .item-actions{
    display: flex;
    gap: 8px;
}

.order-items-list .list-item .item-quantity{
    width: 40px;
    text-align: center;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
}
.order-items-list .list-item .delete-item-button{
    width: fit-content;
    font-size: 1.2em; 
    text-align: center;
    border: none;
    background: none;
    color: red;

}

.order-items-list .total-amount{
    margin: 8px;
    margin-left: auto;
    font-size: larger;
}


.order-items-list .items-total{
    margin: 8px;
    margin-left: auto;
    font-size: larger;
    width: fit-content;
}
