

.alert {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: bottom .4s ease-in-out;
    white-space: nowrap;
    z-index: 10000;

}

.alert.show {
    bottom: 7%;
}
.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.delete {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}